<div class="mx-auto grid min-h-[calc(100vh-48px)] w-full max-w-screen-xl grid-rows-[33%_1fr_33%] items-center justify-items-center sm:min-h-[calc(100vh-65px)]">
	<!-- <div
		class="relative h-8 w-full border-y border-(--pattern-fg) bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-black)]/5 max-lg:h-8 max-lg:border-t dark:[--pattern-fg:var(--border)]"
	></div> -->
	<div class="row-start-2 flex h-full w-full flex-col items-center justify-center gap-16 px-16 max-sm:px-4 xl:px-8">
		<h1 class="f1">
			{{ profile.name }}
		</h1>
		<div class="mx-auto flex max-w-2xl flex-col items-center">
			<p class="f3 text-muted-foreground text-center">
				<span class="text-foreground font-semibold">Desenvolvedor Web</span>
				especializado na criação de sites, sistemas web e aplicativos móveis.
			</p>
		</div>
		<app-link
			variant="custom"
			title="Seguir no LinkedIn"
			href="https://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=joel-estumano"
			target="_blank"
			size="lg"
		>
			<app-icon icon="bootstrapLinkedin" />
			Seguir no LinkedIn
		</app-link>
	</div>
	<div class="relative row-start-3 mt-auto flex w-full flex-wrap items-center justify-center gap-4 px-16 py-8 max-sm:mb-16 max-sm:px-4 xl:px-8">
		@for (link of this.links; track $index) {
			<app-link variant="link" [href]="link.href" [title]="link.title" target="_blank" size="icon">
				<app-icon [icon]="link.icon" class="text-2xl" />
			</app-link>
		}
	</div>
	@defer (on timer(600ms)) {
		<app-floating-button />
	}
</div>

<app-section #sectionServices>
	@defer (on viewport(sectionServices)) {
		<div class="mx-auto mb-16 flex w-full max-w-2xl flex-col items-center">
			<h2 class="f2 text-center">Serviços</h2>
		</div>
		<div class="mx-auto grid w-full gap-5 max-lg:max-w-md lg:grid-cols-3">
			@for (service of services; track $index) {
				<app-card
					[icon]="service.icon"
					[title]="service.title"
					[description]="service.description"
					[img]="service.img"
					[highlight]="service.highlight"
				/>
			}
		</div>
	}
</app-section>

<app-section #sectionProjetos class="relative dark:bg-[radial-gradient(27.27%_35.9%_at_50%_0%,#131315_0%,var(--background)_100%)]" [full]="true">
	<div
		aria-hidden="true"
		class="center pointer-events-none absolute top-0 left-1/2 h-px w-sm max-w-full -translate-x-1/2 -translate-y-1/2 opacity-50 md:w-md lg:w-lg dark:bg-[linear-gradient(90deg,_rgba(0,0,0,0)_0%,_rgba(255,255,255,0)_0%,_var(--accent-foreground),_rgba(0,0,0,0)_100%)]"
	></div>
	@defer (on viewport(sectionProjetos)) {
		<div class="mx-auto mb-16 flex w-full max-w-2xl flex-col items-center px-4 sm:px-16 xl:px-8">
			<h2 class="f2 mb-8 text-center">Portfólio</h2>
			<p class="f3 text-muted-foreground text-center">
				Conheça meu trabalho através de casos reais: sites, plataformas e aplicativos que ajudei a construir.
			</p>
		</div>
		<app-carousel [slides]="projects()" />
	}
</app-section>

<app-section #sectionTecnologias>
	@defer (on viewport(sectionTecnologias)) {
		<div class="mx-auto mb-16 flex w-full max-w-2xl flex-col items-center">
			<h2 class="f2 mb-8 text-center">Tecnologias</h2>
			<p class="f3 text-muted-foreground text-center">Veja algumas das ferramentas e tecnologias que utilizo no processo de desenvolvimento.</p>
		</div>
		<ul class="inline-flex flex-wrap justify-center gap-5">
			@for (stack of stacks(); track $index) {
				<li class="flex w-fit shrink-0 items-center opacity-75 md:min-w-40">
					<app-icon [icon]="stack.iconName" class="text-[16px] sm:text-[24px]" />
					<app-link size="sm" variant="link" [title]="stack.docs" [href]="stack.docs" target="_blank" classes="max-sm:ps-1.5">
						{{ stack.name }}
					</app-link>
				</li>
			}
		</ul>
	}
</app-section>

<app-section #sectionGetInTouch>
	@defer (on viewport(sectionGetInTouch)) {
		<div class="mx-auto mb-16 flex w-full max-w-2xl flex-col items-center">
			<h2 class="f2 mb-8 text-center">Contato</h2>
			<p class="f3 text-muted-foreground text-center">
				Que bom que você chegou até aqui! Se quiser saber mais sobre mim e meu trabalho, estou sempre disponível para uma boa conversa. Me manda uma
				mensagem e vamos trocar uma ideia!
			</p>
		</div>
		<div class="flex justify-center">
			<app-router-link variant="custom" title="Fale comigo!" routerLink="/contato" target="_self" size="lg">
				<app-icon icon="heroChatBubbleLeftRight" />
				Fale comigo!
			</app-router-link>
		</div>
	}
</app-section>
