<div class="card-element h-full w-full rounded-md p-[1px]" [ngStyle]="{ '--highlight-border-color': highlight() }">
	<div
		class="group/img-card group/highlight-card bg-background/75 hover:bg-background/85 relative flex h-full w-full flex-col items-center gap-5 overflow-hidden rounded-md border p-6 transition-all duration-300 sm:p-8"
	>
		<div class="flex size-14 items-center justify-center rounded-full">
			<app-icon data-test-id="card-icon" [icon]="icon()" class="text-4xl" />
		</div>
		<p data-test-id="card-title" class="f3 text-foreground! text-center">{{ title() }}</p>
		<p data-test-id="card-description" class="text-accent-foreground dark:text-muted-foreground line-clamp-3 text-center">
			{{ description() }}
		</p>
		<div class="absolute inset-0 -z-10">
			<img
				data-test-id="card-img"
				[ngSrc]="img()"
				class="pointer-events-none h-full w-full object-cover object-center transition-transform duration-300 group-hover/img-card:scale-105"
				[alt]="'Card image ' + title()"
				loading="eager"
				fill
			/>
		</div>
	</div>
</div>
