<div class="py-4">
	<div class="mx-auto flex max-w-lg flex-col">
		<iframe
			src="https://www.linkedin.com/embed/feed/update/urn:li:share:7387143803796623360"
			height="1378"
			width="504"
			frameborder="0"
			allowfullscreen=""
			title="Publicação incorporada"
		></iframe>
		<iframe
			src="https://www.linkedin.com/embed/feed/update/urn:li:share:7384735801475248129"
			height="1315"
			width="504"
			frameborder="0"
			allowfullscreen=""
			title="Publicação incorporada"
		></iframe>
		<!--  -->
		<iframe
			src="https://www.linkedin.com/embed/feed/update/urn:li:share:7336828722898952193"
			height="1046"
			width="504"
			frameborder="0"
			allowfullscreen=""
			title="Publicação incorporada"
		></iframe>
	</div>
</div>
