<div class="p-4">
	<div class="mx-auto flex max-w-lg flex-col transition-all duration-300">
		@for (post of posts(); track $index) {
			<div class="relative" [ngStyle]="{ height: post.height + 'px', width: post.width + 'px' }">
				@if (post.loading) {
					<div class="absolute inset-0 pb-3">
						<div class="flex h-full w-full overflow-hidden rounded-md border">
							<div class="bg-card flex h-full w-full animate-pulse items-center justify-center">
								<p class="text-muted-foreground text-sm">Carregando...</p>
							</div>
						</div>
					</div>
				}
				<iframe [src]="post.src" [height]="post.height" [width]="post.width" [title]="post.title" (load)="post.loading = false"></iframe>
			</div>
		}
	</div>
</div>
