<div class="__h-60 pointer-events-none relative w-full overflow-hidden">
	<ul [ngClass]="direction === 'top' ? 'animate-scroll-top' : 'animate-scroll-bottom'" class="flex flex-col">
		<ng-container *ngFor="let child of children">
			<li class="py-2 sm:py-4">
				<ng-container *ngComponentOutlet="child.component; inputs: child.inputs"></ng-container>
			</li>
		</ng-container>
		<ng-container *ngFor="let child of children">
			<li class="py-2 sm:py-4">
				<ng-container *ngComponentOutlet="child.component; inputs: child.inputs"></ng-container>
			</li>
		</ng-container>
	</ul>
</div>
